{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p>this is rango's page</strong>.</p>

            <img  width="600" height="700" src="{% static "images/4234759459011936106.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>

<button id="about-btn">
       Click Me - I run Javascript
</button>
{% endblock %}