{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

        {% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">

                <h1>Rango says... hello {{ user.username }}!</h1>
            {% else %}
                <h1>Rango says... hello world!</h1>
            {% endif %}
</div>


<div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Category</h1>
                </div>
             </div>

                {% if categories %}
                    <ul class="list-group">
                        {% for category in categories %}
                                <li class="list-group-item"> <a href="{% url 'category'  category.slug %}" >{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'add_category' %}">Add a New Category</a></li>
                    </ul>

{% endblock %}